################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
.vs
Debug
Release
*.pubxml*
*.csproj.user
appsettings.json
/v3/tools/.store
